.header { 
  // ============================= DROPDOWN is in the very end of this page
  border-bottom: 0.5px solid #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 1s ease;


  &.header-on-scroll {
    //-------------------------------------------HEADER ON SCROLL
    background: #fff;
    transition: all 1s ease;
    
    .header-logo-white {
      display: none;
      transition: all 1s ease;
    }

    .header-logo-black {
      display: block;
      transition: all 1s ease;
    }

    .white-vector {
      display: none;
    }

    .black-vector {
      display: block !important;
    }

    .menu {
      &__link {
        color: #000; 
      }
    }

    &:hover { 
      color: #9E5B39;

      .white-vector {
        display: none;
      }

      .gradient-vector {
        display: block;
      }

      .black-vector {
        display: none !important;
      }
    }

    .active-link {
      .black-vector {
        display: none !important;
      }

      .gradient-vector {
        display: block;
      }
    }
  }
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 2;
  }
    
  &__info {
    height: 88px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    z-index: 5;
  }  
  
  &__leftside {
    height: 88px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 119px;
    height: 88px;
    position: relative;
    z-index: 200;
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }

    img.header-logo-black {
      display: none;
    }
  }

  &__rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header__burger {
      display: none;
    }

    .menu {
      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
      }
    
      &__link {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-right: 65px;
        color: #fff; 

        // .white-vector {}

        .black-vector {
          display: none;
        }

        .gradient-vector {
          display: none;
        }
        
        a {
          img {
            height: 11px;
          }
        }

        &:hover { 
          color: #9E5B39;

          .white-vector {
            display: none;
          }

          .gradient-vector {
            display: block;
          }
        }

        //-------------------------------------------ACTIVE LINK
        &.active-link {
          color: #9E5B39;

          .white-vector {
            display: none;
          }

          .gradient-vector {
            display: block;
          }
        }
      }
    
      .link {
        margin-right: 0px !important;
      }
    }

    .book-an-appointment-btn {
      margin-left: 270px;
      z-index: 100;
      width: 200px;
      height: 48px;
      position: relative;
      transition: all 1s ease;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit:cover;
      }

     .appointment-btn-light {
       display: inline;
       transition: all 1s ease;
     }

     .appointment-btn-dark {
       display: none;
       transition: all 1s ease;
     }

      &:hover {
        transition: all 1s ease;

        .appointment-btn-light {
          display: none;
          transition: all 1s ease;
        }
   
        .appointment-btn-dark {
          display: inline;
          transition: all 1s ease;
        }
      }
    }
  }  
} 
//------------------------- HEADER BLACK COLOR ---------------------------------------
.header-black-color { 
  background: #fff;

  .white-vector {
    display: none;
  }

  .black-vector {
    display: block !important;
  }
     
  .menu {
    &__link {
      color: #000;

      &:hover {
        .black-vector {
          display: none !important;
        }
      }
    }
  }
} 

@media(max-width: 1200px) {
  .header__rightside {
    .book-an-appointment-btn {
      margin-left: 100px;
    }
  }
}

@media(max-width: 1000px) {
  .header__rightside {
    .book-an-appointment-btn {
      margin-left: 70px;
    }
    .menu {
      &__link {
        margin-right: 35px;
      }
    }
  }
}

@media(max-width: 880px) {
  .header__rightside {
    .book-an-appointment-btn {
      margin-left: 60px;
    }
    .menu {
      &__link {
        margin-right: 30px;
      }
    }
  }
}

@media(max-width: 833px) {
  .header__rightside {
    .book-an-appointment-btn {
      margin-left: 40px;
    }
    .menu {
      &__link {
        margin-right: 20px;
      }
    }
  }
}

@media(max-width: 780px) {

  .header-black-color  {
    .menu {
      &__link {
        color: #000;
      }
    }
  }

  .dropdown-item.open-dropdown {
    img {
      transform: rotate(0deg) !important;
      transition: all .4s ease;
    }
    //-------------------------------------------vector turn down---------------------
  }

  .open-dropdown {
    .dropdown-select {
      padding-bottom: 0px !important;
    }
    .dropdown-list {
      position: static !important;
      top: 0;
      padding-bottom: 24px !important;
    }
  }

  .dropdown-list { 
    &__item {
      &:hover {
        background: transparent !important;
        color: #000 !important;
          &:before {
            display: none !important;
        }
      }
    }
  }

  body.lock {
    overflow: hidden;
  }

  // .header {
  //   overflow: hidden;
  // }

  .header__info {
    height: 68px;
  }

  .header__logo {
    // width: 94px;
    // height: 70px;
    // width: 70px;
    // height: 50px;

    img {
      display: none;
    }

    img.header-logo-black {
      display: block;
    }
  }

  .header__rightside {
    .header__burger {
      order: 2; 
      margin: 0 10px 0 20px;
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;

      span {
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    }
    
    .book-an-appointment-btn {
      order: 1; 
      width: 173px;
      height: 40px;
    }

    .header__burger::before,
    .header__burger::after {
      content: '';
      background: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    .header__burger::before{
      top: 0;
    }
    .header__burger::after{
      bottom: 0;
    }

    .header__burger.active span{
      transform: scale(0);
    }
    .header__burger.active::before{
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
    }

    .header__menu {
      position: fixed;
      top: 0;
      left: -100%; 
      width: 100%;
      height: 100%;
      transition: all 0.3s ease 0s;
      background: #fff;
      padding: 70px 0px 0px 0px;

      .menu__list {
        margin-top: 40px;
        display: block;

        li {
          a {
            padding-bottom: 16px;
            padding-left: 24px;
            color: #000;
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            display: flex;
            align-items: center;
          }
          //=== dropdown
          .dropdown {
            width: 100%;
            
            .dropdown-select {
              padding-bottom: 16px;
              padding-left: 24px;
              color: #000;
              font-family: 'Avenir';
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 36px;
              display: flex;
              align-items: center;

              display: flex;
              justify-content: space-between;

              img {
                margin-right: 50px;
                color: #000;
                transform: rotate(-90deg); 
              }

              .black-vector {
                display: block;
              }

              .white-vector {
                display: none;
              }

              .gradient-vector {
                display: none;
              }
            }

            .dropdown-list {

              &__item {
                padding: 0;
                padding-left: 24px;
                padding-top: 16px;
              }
              height: 100%;
              a {
                padding: 0;
                padding-left: 24px;
                width: 100%;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }

    .header__menu.active{
      left: 0;
    }
    .header__list{
      display: block;
    }
    .header__list li{
      margin: 25px 0;
    }
    .header__link{
      font-size: 27px;
    }

    .book-an-appointment-btn {
      margin-left: 10px;
    }
  }
}

@media(max-width: 374px) {
  .book-an-appointment {
    display: none;
  }
  // .book-an-appointment-btn {
  //   width: 80px !important;
  //   height: 15px !important;
  // }
}


// ============================= DROPDOWN

.dropdown {
  width: 5px;
  position: relative;

  .dropdown-select {
     width: 100%;
     display: flex;
     align-items: center;
     cursor: pointer;

    img {
      margin-left: 9px;
      transition: all .4s ease;
    }
  }
}

.open-dropdown {    
  
  .dropdown-list {
    opacity: 1;
    visibility: visible;
  }
 
  img {
    transform: rotate(180deg);
    transition: all .4s ease;
  }
}

.dropdown-list {
  min-width: 172px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 51.5px;  //  top: 37px; -safari
  left: 0px;
  opacity: 0;
  visibility: hidden;
 
  &__item {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 32px 12px 35px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;

    &::before {
      content: url('../images/before-line/small-line.svg');
      margin-right: 8px;
      width: 7px;
      display: none;
    }

    &:hover {
      background: #000;
      color: #fff;
        &:before {
          display: inline-block;
          margin-left: -20px;
      }
    }
  }
}

.dropdown-list__item:hover {
  background: #000;
  a {
    color: #fff;
  }
}










