.brickell-miami-fl-block {
  // background-image: url('../images/locations-page-pics/miami-bg.JPG');
  background-image: url('../images/locations-page-pics/Location-top miami.png');
  position: relative;
  margin-top: 0 !important;
}