.atlanta-ga-block {
  // background-image: url('../images/locations-page-pics/locations-default-bg.JPG');
  background-image: url('../images/locations-page-pics/Location-top coming soon.png');
  position: relative;
  margin-top: 0 !important;
}